[Unit]
Description=Sync rss feed
Conflicts=shutdown.target

[Service]
Environment=PATH=%h/.local/bin:%h/.local/script:/usr/local/bin:/usr/bin:/bin:/usr/local/sbin
ExecStart=%h/.local/script/rss-download-images.sh
