[Unit]
Description=Sync mail
Conflicts=shutdown.target
Requires=gpg-agent.service

[Service]
Environment=GNUPGHOME=%h/.config/gnupg
ExecStart=/usr/bin/mbsync -Va -c '%h/.config/isync/mbsyncrc'
