config/aerc/accounts.conf
config/autostart
config/awakened-poe-trade/
config/BasemarkGPU/
config/bottom/
config/btop/
config/Caprine
config/cava/
config/cef_user_data/
config/chromium
config/coc
config/.conan/
config/configstore/
config/crewlink/
config/CrossCode/
config/czkawka/
config/dconf
config/desmume/
config/discord
config/discordcanary/
config/docker/
config/dunst
config/Electron/
config/filezilla/
config/gh/
config/GIMP
config/git/credentials
config/glab-cli/
config/glava/
config/gnupg
config/google-calendar-dark-nativefier-e22938/
config/google-meet-desktop/
config/gops/
config/gtk-2.0
config/gtk-3.0/
config/heaptrack_gui
config/helix/
config/heroic/
config/hotspotrc
config/htop
config/inkscape
config/isync
config/itch/
config/JetBrains/
config/jgit/
config/karboncalligraphyrc
config/kcachegrindrc
config/kglobalshortcutsrc
config/kitty/
config/kritadisplayrc
config/kritarc
config/libfm/
config/libreoffice/
config/lutris
config/lxc
config/maltejur/
config/massif-visualizerrc
config/melonDS/
config/menus/
config/mgba/
config/mimeapps.list
config/monitors.xml
config/mpv/watch_later
config/NecroDancer/
config/neofetch/
config/nextjs-nodejs/
config/notmuch
config/NuGet/
config/nvim/.netrwhist
config/nvim/spell
config/obs-studio
config/oomox
config/openra/
config/openvpn/
config/pavucontrol.ini
config/pcmanfm/
config/pipewire/
config/protonfixes
config/pulse
config/qt5ct
config/QtProject.conf
config/retroarch/
config/SideQuest/
config/Slack/
config/Soundux/
config/steamtinkerlaunch/
config/steam-tui/
config/subversion/
config/Syncplay/
config/syncplay.ini
config/syncthing/
config/task/
config/teamviewer/
config/tm35-randomizer
config/tracy/
config/transmission
config/transmission-daemon/dht.dat
config/transmission-daemon/resume
config/transmission-daemon/stats.json
config/transmission-daemon/torrents
config/tree-sitter/
config/unity3d/
config/user-dirs.dirs
config/user-dirs.locale
config/VirtualBox
config/vlc/
config/WebCord/
config/wireplumber/
config/wireshark/
config/xfce4/
config/xmcl/
config/xorg/resources
config/yarn/
config/yuzu/
config/zathura
local/bin/
local/lib/
local/opt/
local/share/10tons/
local/share/aerc/
local/share/Anki2/
local/share/applications/
local/share/atlauncher/
local/share/Baba_Is_You/
local/share/bash_history
local/share/calc_history
local/share/cod/
local/share/Daedalic Entertainment GmbH/
local/share/data/
local/share/delta/
local/share/desktop-directories/
local/share/direnv/
local/share/discord-screenaudio/
local/share/espanso/
local/share/firenvim/
local/share/fonts/
local/share/GameAnalytics/
local/share/gdb/
local/share/gnupg/
local/share/go/
local/share/gradle/
local/share/graveyard/
local/share/gsettings-data-convert
local/share/gvfs-metadata/
local/share/icc/
local/share/icons/
local/share/JetBrains/
local/share/keyrings/
local/share/Kishonti Ltd/
local/share/krita/
local/share/krita.log
local/share/krita-sysinfo.log
local/share/leagueoflegends/
local/share/lutris/
local/share/mail/
local/share/man/
local/share/marble/
local/share/mc/
local/share/mcfly/
local/share/meld/
local/share/mime/
local/share/mkcert/
local/share/multimc/
local/share/nautilus/
local/share/NecroDancer/
local/share/Nextcloud/
local/share/npm/
local/share/NuGet/
local/share/nvim/
local/share/pass/
local/share/pki/
local/share/pobfrontend/
local/share/Pocketwatch Games/
local/share/PolyMC/
local/share/python_keyring/
local/share/ranger/
local/share/recently-used.xbel
local/share/rr/
local/share/rss/
local/share/rustup/
local/share/sfeed/
local/share/Steam/
local/share/syncthing/
local/share/synthriderz/
local/share/Tabletop Simulator/
local/share/task/
local/share/teamviewer15/
local/share/TelegramDesktop/
local/share/template/
local/share/terminfo/
local/share/Terraria/
local/share/themes/
local/share/TowerFall/
local/share/Trash
local/share/Valve Corporation/
local/share/virtualenv/
local/share/vlc/
local/share/vm-pool/
local/share/vulkan/
local/share/webkitgtk/
local/share/webkitgtk-4.0/
local/share/wine/
local/share/xorg/
local/share/yuzu/
local/share/zathura/
local/share/zig/
local/share/zoxide/
local/state/
