.config/Caprine
.config/GIMP
.config/QtProject.conf
.config/aerc/accounts.conf
.config/autostart
.config/chromium
.config/dconf
.config/desmume/
.config/discord
.config/dunst
.config/gnupg
.config/gtk-2.0
.config/hotspotrc
.config/htop
.config/inkscape
.config/isync
.config/libfm/
.config/libreoffice/
.config/lutris
.config/melonDS/
.config/mgba/
.config/monitors.xml
.config/mpv/watch_later
.config/notmuch
.config/nvim/.netrwhist
.config/nvim/spell
.config/obs-studio
.config/oomox
.config/pavucontrol.ini
.config/pcmanfm/
.config/pulse
.config/qt5ct
.config/retroarch/
.config/tm35-randomizer
.config/tracy/
.config/transmission-daemon/dht.dat
.config/transmission-daemon/resume
.config/transmission-daemon/stats.json
.config/transmission-daemon/torrents
.config/unity3d/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xorg
.local/script/xdg-open
.local/share/anilist/list.backup
