.config/Caprine
.config/Electron/
.config/GIMP
.config/JetBrains/
.config/QtProject.conf
.config/Slack/
.config/Syncplay/
.config/VirtualBox
.config/aerc/accounts.conf
.config/autostart
.config/bottom/
.config/cava/
.config/chromium
.config/coc
.config/configstore/
.config/crewlink/
.config/dconf
.config/desmume/
.config/discord
.config/docker/
.config/dunst
.config/filezilla/
.config/gh/
.config/git/credentials
.config/gnupg
.config/google-calendar-dark-nativefier-e22938/
.config/google-meet-desktop/
.config/gtk-2.0
.config/gtk-3.0
.config/hotspotrc
.config/htop
.config/inkscape
.config/isync
.config/jgit/
.config/kitty/
.config/libfm/
.config/libreoffice/
.config/lutris
.config/lxc
.config/melonDS/
.config/menus/
.config/mgba/
.config/monitors.xml
.config/mpv/watch_later
.config/notmuch
.config/nvim/.netrwhist
.config/nvim/spell
.config/obs-studio
.config/oomox
.config/openra/
.config/openvpn/
.config/pavucontrol.ini
.config/pcmanfm/
.config/pipewire/
.config/protonfixes
.config/pulse
.config/qt5ct
.config/retroarch/
.config/syncplay.ini
.config/tm35-randomizer
.config/tracy/
.config/transmission
.config/transmission-daemon/dht.dat
.config/transmission-daemon/resume
.config/transmission-daemon/stats.json
.config/transmission-daemon/torrents
.config/unity3d/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xorg/resources
.config/zathura
.local/bin/
.local/lib/
.local/script/xdg-open
.local/share/Baba_Is_You/
.local/share/JetBrains/
.local/share/Nextcloud/
.local/share/Pocketwatch Games/
.local/share/Steam/
.local/share/Tabletop Simulator/
.local/share/Terraria/
.local/share/Trash
.local/share/Valve Corporation/
.local/share/aerc/
.local/share/applications/
.local/share/bash/
.local/share/cod/
.local/share/data/
.local/share/delta/
.local/share/desktop-directories/
.local/share/direnv/
.local/share/espanso/
.local/share/firenvim/
.local/share/fonts/
.local/share/gdb/
.local/share/go/
.local/share/graveyard/
.local/share/gsettings-data-convert
.local/share/gvfs-metadata/
.local/share/icc/
.local/share/icons/
.local/share/keyrings/
.local/share/lutris/
.local/share/mail/
.local/share/marble/
.local/share/mc/
.local/share/meld/
.local/share/mime/
.local/share/multimc/
.local/share/nautilus/
.local/share/nvim/
.local/share/pobfrontend/
.local/share/python_keyring/
.local/share/ranger/
.local/share/recently-used.xbel
.local/share/rr/
.local/share/rss/
.local/share/rustup/
.local/share/sfeed/
.local/share/template/
.local/share/themes/
.local/share/vulkan/
.local/share/xorg/
.local/share/zathura/
.local/share/zig/
.local/share/zoxide/
