*foreground: #c5c8c6
*background: #1d1f21
*cursorColor: #c5c8c6
*.font:         monospace 10

*color0: #1d1f21
*color1: #CC342B
*color2: #198844
*color3: #FBA922
*color4: #3971ED
*color5: #A36AC7
*color6: #3971ED
*color7: #c5c8c6

*color8: #969896
*color9: #CC342B
*color10: #198844
*color11: #FBA922
*color12: #3971ED
*color13: #A36AC7
*color14: #3971ED
*color15: #ffffff

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16: #F96A38
*color17: #3971ED
*color18: #282a2e
*color19: #373b41
*color20: #b4b7b4
*color21: #e0e0e0


! "Whether to load and show icons" Set from: Default
rofi.show-icons: false

! "Terminal to use" Set from: Default
*.terminal: alacritty

! "New style theme file" Set from: Default
! rofi.theme:

! "Color scheme for normal row" Set from: Default
! rofi.color-normal:

! "Color scheme for urgent row" Set from: Default
! rofi.color-urgent:

! "Color scheme for active row" Set from: Default
! rofi.color-active:

! "Color scheme window" Set from: Default
! rofi.color-window:
