[Service]
Type=exec
ExecStart=/usr/bin/activate-linux
Restart=on-failure
RestartSec=5s

[Unit]
PartOf=graphical-session.target

[Install]
WantedBy=graphical-session.target

