[Unit]
After=eww.service
PartOf=eww.service

[Service]
ExecStartPre=/usr/bin/eww ping
ExecStart=%h/.local/script/bar-start
ExecStop=%h/.local/script/bar-stop
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=user-graphical-login.target
