[Service]
Type=exec
WorkingDirectory=%h/repo/own/dipm-pkgs
ExecStart=%h/.local/bin/dipm pkgs update --delay 5m --pull-request
Restart=always
RestartSec=10min

[Install]
WantedBy=default.target
