[Unit]
Description=Discord
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/discord
Restart=on-failure

[Install]
WantedBy=graphical-session.target
