[Service]
Type=exec
ExecStart=%h/.local/script/replay-start
KillSignal=SIGINT
Restart=on-failure
RestartSec=5s

[Unit]
PartOf=graphical-session.target

[Install]
WantedBy=graphical-session.target
