[Service]
Type=exec
ExecStart=/usr/bin/steam -bigpicture
ExecStop=/usr/bin/pkill -F %h/.steampid

[Unit]
PartOf=graphical-session.target

[Install]
WantedBy=graphical-session.target

