[Unit]
Description=Steam
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/steam
Restart=on-failure

[Install]
WantedBy=graphical-session.target
