[Unit]
Description=Thunderbird
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/thunderbird
Restart=on-failure

[Install]
WantedBy=graphical-session.target
