[Service]
ExecStart=%h/.local/script/wall '%h/Pictures/wallpapers'

[Unit]
PartOf=graphical-session.target

[Install]
WantedBy=graphical-session.target

