[Unit]
Description=Wallpaper
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=%h/.local/script/wall '%h/Pictures/wallpapers'
Restart=on-failure

[Install]
WantedBy=graphical-session.target
