@import "colors.css";

* {
    font-family: monospace;
    font-size: 16px;
    background-color: @color0;
    color: @color5;
}

.modules-left  { padding: 0 10px; }
.modules-right { padding: 0 10px; }

button {
    border-radius: 0;
}

#workspaces button {
    padding: 4px;
}

#workspaces button.active {
    background: inherit;
    box-shadow: inset 0 -2px @color5;
}

#battery,
#clock,
#cpu,
#custom-rss,
#custom-weather,
#disk,
#memory,
#pulseaudio,
#systemd-failed-units,
#wireplumber,
#workspaces
{
    border-top: 2px solid @color5;
    padding: 0 10px;
}

