* {
    font-family: monospace;
    font-size: 16px;
    background-color: #141414;
    color: #dcdcdc;
}

.modules-left  { padding: 0 10px; }
.modules-right { padding: 0 10px; }

button {
    border-radius: 0;
}

#workspaces button {
    padding: 4px;
}

#workspaces button.active {
    background: inherit;
    box-shadow: inset 0 -2px #dcdcdc;
}

#clock,
#cpu,
#memory,
#pulseaudio,
#workspaces,
#disk,
#custom-rss,
#custom-weather,
#wireplumber {
    border-top: 2px solid #dcdcdc;
    padding: 0 10px;
}

