*font:          JetBrains Mono-14
*foreground:    #{{base05-hex}}
*selforeground: #{{base00-hex}}
*background:    #{{base00-hex}}
*selbackground: #{{base05-hex}}
*cursorColor:   #{{base05-hex}}

*color0:        #{{base00-hex}}
*color1:        #{{base08-hex}}
*color2:        #{{base0B-hex}}
*color3:        #{{base0A-hex}}
*color4:        #{{base0D-hex}}
*color5:        #{{base0E-hex}}
*color6:        #{{base0C-hex}}
*color7:        #{{base05-hex}}

*color8:        #{{base03-hex}}
*color9:        #{{base08-hex}}
*color10:       #{{base0B-hex}}
*color11:       #{{base0A-hex}}
*color12:       #{{base0D-hex}}
*color13:       #{{base0E-hex}}
*color14:       #{{base0C-hex}}
*color15:       #{{base07-hex}}

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:       #{{base09-hex}}
*color17:       #{{base0F-hex}}
*color18:       #{{base01-hex}}
*color19:       #{{base02-hex}}
*color20:       #{{base04-hex}}
*color21:       #{{base06-hex}}
