@define-color theme_base_color #{{base00-hex}};
@define-color theme_fg_color #{{base04-hex}};
@define-color theme_active_color #{{base02-hex}};
@define-color theme_insensitive_color #{{base04-hex}};
@define-color theme_insensitive_bg #{{base00-hex}};

@define-color theme_cursor_color #{{base0D-hex}};

/* fallback mode */
@define-color os_chrome_bg_color #{{base00-hex}};
@define-color os_chrome_fg_color #{{base04-hex}};
@define-color os_chrome_selected_bg_color #{{base06-hex}};
@define-color os_chrome_selected_fg_color #{{base02-hex}};

* {
    /* Pidgin */
    -GtkIMHtml-hyperlink-color: #{{base0D-hex}};
    -GtkIMHtml-hyperlink-visited-color: #{{base0E-hex}};
    -GtkIMHtml-hyperlink-prelight-color: #{{base07-hex}};

    /* Evolution */
    -GtkHTML-link-color: #{{base0D-hex}};
    -GtkHTML-vlink-color: #{{base0E-hex}};
    -GtkHTML-cite-color: #{{base0B-hex}};

    -GtkWidget-link-color: #{{base0D-hex}};
    -GtkWidget-visited-link-color: #{{base0E-hex}};
}

@import url("resource:///org/gnome/HighContrastInverse/a11y.css");